:root {
  --bg: #fafafa;
  --text: #000000;
  --mid-tone: #ccc;
  --border: #6a6a6a;
  --primary: #2709dc;
  --primary-opaque: #7d67e8;
  --button-bg-disabled: rgb(244, 243, 253);
  --lap-bg: #f9f9f9;
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #fafafa;
  --mid-tone: #ccc;
  --border: #ccc;
  --primary: #4f7ed4;
  --primary-opaque: #2a3c67;
  --button-bg-disabled: #2a2a2a;
  --lap-bg: #1f1f1f;
}
